/* dashboard navbar */
/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */

body {
  /* font-family: 'Poppins', sans-serif; */
  background: #f1f1f1;
  width: 100vw;
  overflow-x: hidden;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
}

.navbar-dash {
  border-bottom: 1px solid #353a40;
  background: #f1f1f1;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  background-color: #f1f1f1 !important;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
/* end dashboard navbar */

/* dashboard sidebar */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;
  text-transform: uppercase;
}

#sidebar.active{
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  height: 70px;
  text-align: center;
  padding: 18px;
  background: #fff;
}

#sidebar .user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
}

.title-side {
  background-color: #353a40;
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 350;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a{
  padding: 10px;
  padding-left: 20px;
  font-size: 1.1em;
  display: block;
  font-weight: 350;
}

#sidebar ul li a:hover{
  padding: 10px;
  padding-left: 20px;
  border-left: 5px solid #353a40;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li.active > a, a[aria-expended="true"] {
  
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 1.0em !important;
  padding-left: 30px !important;
  text-transform: capitalize;
}


/* content dashboard */
.content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

.container-content {
  padding: 10px;
  min-height: 100vh;
}

.container-vw{
  text-align:center;
  background-color:#303031;
  color: #fff;
  padding:10px;
}

#sidebarCollapse{
  width: 40px;
  height: 40px;
  background: #f1f1f1 !important;
  color: #303031;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}
/* end content */

/* MEDIA QUERY */

@media(max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);

  }

  #sidebar.active {
    margin-left: 0;
    transform: none;
  }

  .table {
    margin-top: 200px;
  }

  #sidebarCollapse h5 i {
    margin: 0 auto;
  }
}

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 320px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }

    .vbrg-dash table{
      display: none;
    }
  }
/* END MEDIA QUERY */

.nav-link:hover {
    border-left: 5px solid #818080;
    color: #818080;
}

.side-adm {
    font-weight: 500;
}

.container-sideadm {
  position: fixed;
    height: 100%;
    background-color: #fff;
}

.display-4 {
    font-weight: 200;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 4px;
    opacity: 0.3;
    font-size: 70px;
    margin-right: 10px;
}

.vbrg {
    margin-left:-80px;
    margin-top: -64px;
}

.vbrg-dash {
  margin-top:-300px;
  margin-left: -150px;
}



.btn-adm {
    border-radius: 100%;
    border: 1.5px solid #313130;
    box-shadow: 0 4px 2px rgba(0,0,0,0.2);
    width:160px;
    height:160px;
    background-color: #c4c4c4;
    color: #313130;
}

.btn-outline-dark:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: scale(1.04);
}

.adm-adm {
    margin-left: -120px;
}

/* MODAL */
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #f1f1f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #f5f5f5;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    width: 500px;
    margin-top:-100px;
    margin-bottom: 120px;
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
/* AKHIR MODAL */


.footer-copyright {
  background-color:#fff;
  color:#353a40;
  margin-top:-40px;
  width:100vw;
  /* border-top: 1px solid black; */
}

/* MANAJEMEN BARANG */
.vbrg-vw{
  padding-bottom: 100px;
  margin-top: -40px;
}
/* END */

.card-body-icon .icon{
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}

.card-body-icon:hover .icon {
  font-size: 95px;
}