/* Jumbotron */

.jumbotron {
    background-image: url(../img/bg1.jpg);
    text-align: center;
    background-size: cover;
    height: 640px;
    color: #fff;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to top, rgba(0,0,0,1), rgba(117, 112, 112, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron .display-4 {
    color: #fff;
    margin-top: 100px;
    font-size: 80px;
}

.lead span{
    font-weight: 500;
}

.lead {
    color: rgb(163, 163, 163);
    text-align:  center;
    font-weight: 200;
    font-size: 28px;
    margin-bottom: 50px;
}

.start {
    font-size: 25px;
    width: 250px;
    font-weight: 200;
}

.container-start {
    margin-top: 50px;
    color : black;
    font-weight: 200;
    font-size: 23px;
}

/* Akhir Jumbotron */

/* welcome */
.welcome {
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    font-weight: 500;
    border-radius: 12px;
    height: 120px;
    text-align: center;
    padding-top: 38px;
    font-size: 30px;
    margin-top: -100px;
    background-color: rgb(255, 255, 255);
}

/* akhir welcome */

/* inventories */

.inventories {
    margin-top: 100px;
}

.teks-kelola {
    margin-top: 100px;
    font-size: 30px;
}

/* akhir inventories */

/* misi */
.teks-misi {
    margin-top: 200px;
    background-color: #FAFAFA;
}

.teks-misi h2 {
    text-align: center;
    font-family: Calibri;
    margin-top: 150px;
    font-size: 28px;
}

.img-laptop {
    margin-left: 30px;
}
/* akhir misi */

/* footer */
.footer-copyright {
    height: 100px;
    margin-top: 30px;
}
/* akhir footer */


/* MODAL */
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
/* AKHIR MODAL */

@media (min-width: 1440px) { 

 }

@media (min-width: 768px) { 
    
}

@media (min-width: 320px) { 
    
}

/* DESKTOP VERSION */